@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@font-face {
    font-family: 'Kanyon';
    src: url('Kanyon-Regular.eot'); /* IE9 Compat Modes */
    src: url('Kanyon-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('Kanyon-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('Kanyon-Regular.svg') format('svg'); /* Legacy iOS */
}

@include-when-export url(https://fonts.loli.net/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic,latin-ext);

/* =========== */

/* pt-serif-regular - latin */
@font-face {
    font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Book');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* pt-serif-700 - latin */
@font-face {
    font-family: 'Futura PT Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Futura PT Bold');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* pt-serif-700 - latin */
@font-face {
    font-family: 'Futura PT Cond Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Cond Medium');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* pt-serif-700 - latin */
@font-face {
    font-family: 'Futura PT Cond Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Futura PT Cond Bold');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Global styles */
.window-app {
    font-family: "Roboto", sans-serif;
}

.window-app .window-content {
    background: #fff;
    /* font-family: "Montserrat", "Arial Black", sans-serif; */
}

.phoenix ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: grey;
    border: 1px solid white;
}

.phoenix .white{
    color:white;
}

.phoenix .darkgrey{
    color:rgb(92, 92, 92);
}

.phoenix .red {
    color:red;
}

/* .chat-message, #chat-form, .textarea{
  background: white;
} */


.list-roll:hover,
.list-roll:focus {
    color: #000;
    text-shadow: 0 0 10px rgb(112, 112, 112);
}

.grid,
.grid-2col {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2px;
    margin: 10px 0;
    padding: 0;
}
.grid-1col {
    grid-column: span 1 / span 1;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.widegap {
    gap: 30px;
    padding: 6px;
}

.grid-3col {
    grid-column: span 3 / span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
    grid-column: span 4 / span 4;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
    grid-column: span 5 / span 5;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
    grid-column: span 5 / span 5;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
    grid-column: span 7 / span 7;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
    grid-column: span 8 / span 8;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
    grid-column: span 9 / span 9;
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
    grid-column: span 10 / span 10;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
    grid-column: span 11 / span 11;
    grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
    grid-column: span 12 / span 12;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 3px;
    /* border: 1px solid #999; */
}

.flex-group-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
}

.flex-group-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

.flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.flex-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* Styles limited to phoenix sheets */
.phoenix .item-form {
    font-family: "Roboto", sans-serif;
}

.phoenix .char-header {
    -webkit-box-flex: 0;
    /* -ms-flex: 0 0 610px;
    flex: 0 0 610px; */
    /* overflow: hidden; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;
}



.phoenix .char-header .profile-img {
    -webkit-box-flex: 0;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 10px;
}

.phoenix .char-header .header-fields {
    -webkit-box-flex: 1;
    -ms-flex: 1;
}

.phoenix .char-header .header-grid {
    display: grid;
    grid-template-areas:
        'header portrait'
        'underheader portrait';
    padding: 10px;
    column-gap: 10px;
    grid-template-columns: 450px 226px;
    align-items: start;
}

.phoenix .header-grid-creature {
    display: grid;
    grid-template-areas:
  'header header header'
  'centercol centercol abilities ';
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 15em auto 14em;
}

.phoenix .maininfo{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.phoenix .abilities {grid-area: abilities;}

.phoenix .stress {grid-area: stress;}

.phoenix .char-header h1.charname {
    height: auto;
    padding: 0px;
    margin: 0px 0;
    border-bottom: 0;
}

.phoenix .char-header h1.charname input {
    width: 100%;
    height: auto;

    background: #fff;

    padding-left: 1em;
    border: 4px solid #111;
    border-radius: 3em;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
}

.phoenix .sheet-tabs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

.phoenix .sheet-body,
.phoenix .sheet-body .tab .editor {
    height: 100%;
}

.phoenix .roll-body {
    height: 100%;
}

.phoenix .tab{
    height: 700px;
}

.phoenix .tox .tox-editor-container {
    background: #fff;
}

.phoenix .tox .tox-edit-area {
    padding: 0 8px;
}

.phoenix .resource-label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.phoenix .tabs {
    border-top: 2px solid rgb(56, 56, 56);
    border-bottom: 2px solid rgb(56, 56, 56);
}

.phoenix .tabs .item {
    line-height: 40px;
    font-weight: bold;
}

.phoenix .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}

.phoenix .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    /* overflow-y: auto; */
}

#sidebar .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    /* overflow-y: auto; */
}

.phoenix .items-list .item-header {
    font-weight: bold;
}

.phoenix .items-list .item {
    line-height: 24px;
}

.phoenix .skill-grid {
    display: grid;
    grid-template-areas:
            'add-item roll-window'
            'skill-list roll-window';
}

.phoenix .skills-list .item {
    height: 36px;
    line-height: 21px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
}

.phoenix .skillrow {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap if necessary */
    justify-content: space-between;
    align-items: center; /* Vertically align items */
    width: 100%; /* Adjust width to fill available space */
    box-sizing: border-box; /* Include padding in width calculation */
    position: relative;
}

#sidebar .skillrow {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap if necessary */
    justify-content: space-between;
    align-items: center; /* Vertically align items */
    width: 100%; /* Adjust width to fill available space */
    box-sizing: border-box; /* Include padding in width calculation */
    position: relative;
}

.phoenix .items-list .item .item-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    margin-right: 5px;
}

.phoenix .roll-image {
    -webkit-box-flex: 0;
    flex: 0 24px;
    margin-right: -9px;
    height: 42px;
    border-radius: 24px;
    border-width: 2px;
    position: absolute;
    right: 10px;
    border-color: white;
    top: 1px;
    background: white;
}

.phoenix .items-list .item img {
    display: block;
}

.phoenix .items-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sidebar .items-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phoenix .skillrow .item-name {
    flex: 1; /* Allow the skill name to expand */
    white-space: nowrap; /* Prevent skill name from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
    margin-right: 10px; /* Add some spacing between name and controls */
    font-size: 14px;
    padding-left: 5px;
}

#sidebar .skillrow .item-name {
    flex: 1; /* Allow the skill name to expand */
    white-space: nowrap; /* Prevent skill name from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
    margin-right: 10px; /* Add some spacing between name and controls */
    font-size: 14px;
    padding-left: 5px;
}

.phoenix .item-description {
    text-align: left;
    color: rgb(22, 22, 22);
    margin: 5px;
    font-weight: 800;
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
}

.phoenix .skill-description {
    padding: 5px;
}

.phoenix .full-item-name {
    font-family: 'Kanyon', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    margin: auto;
    flex: 0.5;
    font-kerning: auto;
}

.phoenix .items-list .skill-name {
    font-weight: bold;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    /* text-transform: uppercase; */
    margin-left: 0px;
    background: #111;
    padding: 2px;
    /* padding-left: 8px; */
    border-radius: 21px;
    text-align: center;
    height: 27px;
    overflow: hidden;
}
.phoenix .items-list .skill-stat {
    font-size: medium;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #111;
    margin-left: 0px;
    /* background: black; */
    padding: 2px;
    padding-left: 8px;
    border-radius: 21px;
    text-align: center;
}

.phoenix .skillrow .item-controls {
    display: none; /* Initially hide controls */
    align-items: center;
    padding-right: 5px;
}

.phoenix .skillrow:hover .item-controls {
    display: flex; /* Display controls on hover */
    justify-content: space-between;
}

.phoenix .skillrow:hover .item-control {
    width: 20px;
}

.phoenix .tab-select {
    font-size: medium;
    font-family: 'Kanyon', sans-serif;
    font-size: 1.5em;
    color: #111;
    text-align: center;
    font-kerning: auto;
    width: 100px;
}

.phoenix .stresstext {
    width: 100%;
    padding: 0.1rem;
    color: white;
    font-family: "Montserrat", "Arial Black", sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.phoenix .smallcircle-input {
    margin: -0.15em;
    height: 40px;
    width: 40px;
    padding: 0;
    border: 4px solid #111;
    border-radius: 3em;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.phoenix .mainstatmod-input {
    margin-top: 13px;
    height: 26px;
    width: 44px;
    padding: 0;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 0.1em 1em 0.11em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    text-align: center;
    margin-left: -22px;
    z-index: 5;
}

.phoenix .mainstatmod-title {
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.7rem;
    color: rgb(77, 77, 77);
    line-height: 1;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: -35px;
    pointer-events: none;
}

.phoenix .greyText{
    color: grey;
}

.phoenix .darkGreyText{
    color: rgb(56, 56, 56);
}

.phoenix .sizelarge{
    font-size: 1.1rem;
}

.phoenix .horizontalFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sidebar .horizontalFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phoenix .skills-tab {
}
.phoenix .hpminmax{
    width: 50px;
}

.phoenix .statblock{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#sidebar .statblock{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.phoenix .healthblock{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.phoenix .current-max-label{
    margin: auto;
    border: 0px solid rgb(77, 77, 77);
    color: rgb(77, 77, 77);
    font-size: 0.9rem;
    text-align: center;
    font-family: 'Kanyon', sans-serif;
    background: transparent;
    flex: 1;
    font-kerning: auto;
}

.phoenix .statName{
    margin-top: 0.45em;
    margin-right: 0.8em;
}

.phoenix .blockborder{
    border: 2px solid #111;
    background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(221,221,221,1) 50%,rgba(255,255,255,1) 34%, rgba(255,255,255,1) 100%);
}

.phoenix .blockborder-mini{
    border: 2px solid #111;
    border-radius: 0.7em;
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(221,221,221,1) 44%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%);
}

.phoenix .verticalFlex{
    display: flex;
    flex-direction: column;
}

.phoenix .abilities{
    margin: 5px;
}

.phoenix .base-resources{
    width: 20%;
    margin: 5px;
}

.phoenix .minmaxtopstat{
    width: 8.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 3px;
}

.phoenix .minmaxwrapper{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    align-items: start;
    width: 145px;
    height: 50px;
    padding: 0;
    border: 2px solid #111;
    border-radius: 0.7em;
    background: 0;
}

.phoenix .minmax-wrapper-noborder{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    align-items: start;
    width: 145px;
    height: 50px;
    padding: 0;
    /* border-radius: 0.7em; */
    background: 0;
}

.phoenix .minmax-input {
    margin: auto;
    border: 0px solid #111;
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Kanyon', sans-serif;
    background: transparent;
    flex: 1;
    font-kerning: auto;
}

#sidebar .minmax-input {
    margin: auto;
    border: 0px solid #111;
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Kanyon', sans-serif;
    background: transparent;
    flex: 1;
    font-kerning: auto;
}


.phoenix .minmaxtext{
    font-family: 'Kanyon', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    flex: 1;
    font-kerning: auto;
    width: 100%;
}

#sidebar .minmaxtext{
    font-family: 'Kanyon', sans-serif;
    cursor: default;
    background: none;
    border: 0;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    flex: 1;
    font-kerning: auto;
    width: 100%;
}

.phoenix .roll-modifier:hover, .roll-active {
    background-color:black;
    color : #ffffff;
}

#sidebar .sidebar-modifier:hover, #sidebar .roll-active {
    background-color: var(--apsj-orange-dark);
}

.phoenix .advantage-button.active, .disadvantage-button.active, .xp-control.active{
    background-color:black;
    color : #ffffff;
}

#sidebar .advantage-button.active, #sidebar .disadvantage-button.active, #sidebar .xp-control.active{
    background-color: var(--apsj-orange-dark);
}

.phoenix .dice-icon {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

#sidebar .dice-icon {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}


.phoenix .littleLabel{
    font-family: 'Kanyon', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    flex: 0.5;
    font-kerning: auto;
}

.phoenix .bigLabel{
    font-family: 'Kanyon', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    flex: 0.5;
    font-kerning: auto;
}

.phoenix .seperatorLine{
    border-bottom: 2px solid #111;
    height: 0;
    width: 100%;
}

.phoenix .valuewrapper{
    grid-column: 1/-1;
    display: grid;
    width: 145px;
    height: 50px;
    padding: 0;
    border: 4px solid #111;
    border-radius: 1.5em;
    background: 0;
    margin-top: -15px;
}


.phoenix .slant{
    border-right: 2px solid #111;
    height: 90%;
    margin: auto;
    flex: 0;
}

.phoenix .stresslabel {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    background: #111;
    padding: 0 0.5rem;
}

.phoenix .mainstatwrapper {
    display: flex;
}

.phoenix .mainstat {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5em;
    align-items: center;
    gap: 0;
    width: 100%;
}

.phoenix .creature-mainstat {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3em;
    align-items: center;
    gap: 0;
    width: 100%;
}
.phoenix .mainstatlabel {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    background: #111;
    padding: 2px 0.5rem;
}

.phoenix .mainstattext {
    width: 100%;
    padding: 0.5rem;
    color: white;
    font-family: "Montserrat", "Arial Black", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.phoenix .circle-input {
    margin: -0.15em;
    height: 50px;
    width: 50px;
    padding: 0;
    border: 4px solid #111;
    border-radius: 3em;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.phoenix .textarea-input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: -0.15em;
    padding: 9px;
    padding-top: 2px;
    border: 2px solid #111;
    border-radius: 0.8em;
    font-size: 0.8rem;
    /* font-weight: bold; */
    background: white;
    resize: none;
}



.phoenix .square-input {
    margin: -0.15em;
    height: 45px;
    width: 45px;
    padding: 0;
    border: 4px solid #111;
    background-color: #fff;
    border-radius: 0.5em;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}
.phoenix .savetext {
    display: block;
    margin-bottom: .2em;
    width: 100%;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.phoenix .savebackground {
    border-radius: 1em;
    background: #111;
    padding: 0 0.5rem;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;
    width: 80px;
    margin-top: -1px;
}

.phoenix .padding{
    padding: 5px;
}

.phoenix .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0);
    mix-blend-mode: multiply;
    pointer-events: none;
}

.phoenix .ship-stats-grid{
    display: grid;
    grid-template-columns: 17em 1fr 15em;
}


.phoenix .whiteline {
    border-top: 2px solid white;
    grid-area: line;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.phoenix .creaturename {
    height: auto;
    width: 100%;
    padding-left: 13px;
    font-size: 1.3rem;
    font-weight: bold;
    color:white;
    font-family: "Century Gothic", "Diadact Gothic", sans-serif;
}

.phoenix .creaturestat {
    margin-left: 4px;
    height: auto;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: "Century Gothic", "Diadact Gothic", sans-serif;
    color:white;
}

.phoenix .creaturedescription {
    height: 210px;
    padding: 0px 5px 5px 5px;
    overflow-y: auto;
    border: 2px solid #111;
    border-radius: 0.7em;
}
.phoenix .creaturedescription .editor-content{
    overflow-y: auto;
}
.phoenix .creaturedescription .editor{
    overflow: auto;
}

.phoenix .creature-ability-container {
    padding: 4px;
    margin-left: 2px;
}

.phoenix .creature-ability-title {
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: "Century Gothic", "Diadact Gothic", sans-serif;
    color:white;
    font-weight: bold;
}

.phoenix .creature-ability-text {
    height: auto;
    font-size: 0.8rem;
    font-family: "Century Gothic", "Diadact Gothic", sans-serif;
    color:white;
}

.phoenix .tox.tox-tinymce {
    min-height: 100%;
}
.phoenix .editor {
    height: 100%;
}

.noborder {
    border: 0 !important;
    background: 0 !important;
}

.phoenix .header {
    grid-area: header;
    display: flex;
    align-items: center;
    grid-column: 1/-1;
    font-weight: 400;
    /* border: 2px solid #111; */
}

.phoenix .headerinputtext {
    color: rgb(22, 22, 22);
    font-family: 'Kanyon', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 3px;
    flex: 1;
    font-kerning: auto;
}

#sidebar .headerinputtext {
    color: var(--color-text-light-highlight);
    font-family: 'Kanyon', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 3px;
    flex: 1;
    font-kerning: auto;
}

#sidebar .pointable {
    cursor: pointer;
}

.phoenix .headerinputfield {
    height: auto;
    width: 100%;
    margin: auto;
    padding: 2px;
    /* background-color: rgb(240,240,240); */
    font-size: 1rem;
    font-family: 'Kanyon', sans-serif;
    flex: 1.9;
    font-kerning: auto;
}

.phoenix .header-border {
    display: grid;
    padding: 0.3em;
    margin: 5px;
    border: 2px solid black;
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(221,221,221,1) 34%,rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%);
}

.phoenix .creature-header-border {
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(221,221,221,1) 25%,rgba(255,255,255,1) 5%, rgba(255,255,255,1) 100%);
}

.phoenix .headernamegrid {
    display: flex;
}

.phoenix .headerrankgrid {
    /* grid-column: span 3; */
    display: inline-flex;
}

.phoenix .fa-circle{
    color: rgb(22, 22, 22);
    background: white;
    border-radius: 10px;
}

.phoenix .portrait {
    width: 222px;
    height: 222px;
    border: 2px solid black;
    margin-top: 5px;
}

.phoenix .rollcontainer {
    background: #fff;
    padding: 0 0.5rem;
    padding-bottom: 0.1rem;
    width: 100%;

    border: 2px solid #111;
    border-radius: 0em 0em 0.25em 0.25em;
    font-family: 'Kanyon', sans-serif;
    position: relative;
    font-kerning: auto;
}

.phoenix .rollh1 {
    width: 107%;
    margin-top: 0;
    margin-left: -9px;
    font-size: 1.9rem;
    border-bottom: 2px solid rgb(22, 22, 22);
    background: rgba(221,221,221,1);
    padding: 5px;
    text-transform: capitalize;
}

.phoenix .rollweaponh1 {
    height: 46px;
    margin-top: 0;
    margin-left: -9px;
    margin-right: -9px;
    font-size: 2rem;
    background: rgb(22, 22, 22);
    /* border-bottom-right-radius: 1.5em; */
    color: white;
    padding: 5px;
    flex: auto;
    width: 100%;
    /* width: 71%; */
}

.phoenix .rollh2 {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    margin-top: 4px;
    padding: 5px;
}

.phoenix .rollmods {
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;
    /* line-height: 1; */
    text-align: center;
    margin-top: -8px;
    margin-bottom: 3px;
    padding: 5px;
    color: grey;
}

.phoenix .rollattribute {
    width: 100%;
    padding: 0.5rem;
    color: black;
    font-family: 'Kanyon', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    font-kerning: auto;
}

.phoenix .roll-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 100%;
}

.phoenix .roll-result {
    padding: 8px;
    border: 2px solid #111;
    border-radius: 0.5em;
    font-size: 1.5rem;
    text-align: center;
    grid-column: 2/span 2;
}

.phoenix .roll-target {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 6rem;
    align-items: center;
    gap: 2.5rem;
    padding: 0.8rem;
    font-size: 1.5rem;
    background: white;
    border-radius: 1.5rem;
    color: #111;

    font-family: 'Kanyon', sans-serif;
    text-align: right;
    font-kerning: auto;
}

.phoenix .roll-targetbox {
    padding: 2px;
    border: 2px solid #111;
    border-radius: 0.3em;
    font-size: 0.9rem;
    text-align: center;
    margin-right: 0px;
}

.phoenix .roll-damage {
    font-size: 1.8rem;
    line-height: 1;
    text-align: center;
    margin-top: 4px;
    padding: 5px;
    color: rgb(117, 0, 0);
    font-weight: normal;
    font-family: 'Kanyon', sans-serif;
    font-kerning: auto;
}

.phoenix .roll-damagebox {
    padding: 4px;
    border: 2px solid rgb(117, 0, 0);
    border-radius: 0.5em;
    font-size: 2rem;
    text-align: center;
    grid-column: 2/span 2;
    color: rgb(117, 0, 0);
    margin: auto;
}

.phoenix .items-tab-grid{
    grid-template-columns: 50% 50%;
}

.phoenix .item-container {
    width: 720px;
    height: 720px;
    margin: auto;
    background-color: rgba(230,230,230,1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    position: relative;

}

.phoenix .item-bag-container {
    z-index: 1;
    text-align: center;
    touch-action: none;
    user-select: none;
    position: absolute;
    border: 2px solid grey;
    border-radius: 0.1em;
    height: 18.4em;
    width: 27.7em;
    pointer-events: none;
    color: rgb(22, 22, 22);
}

.phoenix .item-bag-text {
    padding: 9px;
    height: 100%;
    font-family: 'Kanyon', sans-serif;
    font-size: 3.3em;
    color: grey;
    margin: 20%;
    font-kerning: auto;
}

.phoenix .item-slot-dashed {
    z-index: 1;
    text-align: center;
    touch-action: none;
    user-select: none;
    position: absolute;
    border: 2px dashed grey;
    border-radius: 0.1em;
    height: 9.1em;
    width: 9.1em;
    pointer-events: none;
}

.phoenix .item-slot-header {
    padding: 4px;
    height: 30px;
    font-family: 'Kanyon', sans-serif;
    font-size: 1.3em;
    color: grey;
    text-align: center;
    pointer-events: none;
    font-kerning: auto;
}

.phoenix .item-slot-footer {
    padding: 4px;
    height: 30px;
    font-weight: bold;
    font-size: 0.8em;
    color: grey;
    text-align: center;
    pointer-events: none;
    bottom: -30px;
    position: absolute;
}

.phoenix .item-container-controls {
    text-align: right;
    position: absolute;
    top: 3px;
    right: 27px;
}

.phoenix .item-card {
    z-index: 9;
    background-color: white;
    border: 1px solid #d3d3d3;
    text-align: center;
    touch-action: none;
    user-select: none;
    position: absolute;
    border: 2px solid rgb(22, 22, 22);
    border-radius: 0.1em;
    height: 9em;
    width: 9em;

    cursor: grab;
    pointer-events: auto;
    overflow: hidden;
}

.phoenix .item-card-header {
    display: flex;
    justify-content: left;
    padding: 4px;
    height: 30px;
    z-index: 10;
    border-bottom: 1px solid rgb(22, 22, 22);
    border-radius: 0.1em 0.1em 0 0;
    font-family: 'Kanyon', sans-serif;
    font-size: 1.25em;
    color: black;
    pointer-events: none;
    white-space: nowrap;
    font-kerning: auto;
}

.phoenix .item-card-header-noborder {
    display: flex;
    padding: 4px;
    height: 30px;
    z-index: 10;
    font-family: 'Kanyon', sans-serif;
    font-size: 1.4em;
    color: black;
    pointer-events: none;
    font-kerning: auto;
}

.phoenix .item-card-star {
    font-size: 27px;
    position: relative;
    top: -10px;
}

.phoenix .item-card-chat {
    font-size: 0.7em;
    color: grey;
    text-align: right;
    pointer-events: auto;
    bottom: 3px;
    right: 4px;
    position: absolute;
}

.phoenix .item-card-title {
    pointer-events: auto;
}

.phoenix .item-card-tag {
    text-align: left;
    color: rgb(22, 22, 22);
    margin: 5px;
    font-weight: bold;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    background: white;
}

.phoenix .item-card-desc {
    text-align: left;
    color: rgb(22, 22, 22);
    margin: 5px;
    font-weight: 500;
    font-style: italic;
    font-size: 0.9em;
    top: 27px;
    position: absolute;
    pointer-events: none;
    font-family: "Roboto", sans-serif;
}
.phoenix .item-card-clear {
    text-align: left;
    color: rgb(22, 22, 22);
    margin: 5px;
    font-weight: 900;
    font-size: 0.9em;
    bottom: 17px;
    position: absolute;
    pointer-events: none;
    font-family: "Roboto", sans-serif;
}

.phoenix .item-card-clear-text {
    text-align: left;
    color: rgb(22, 22, 22);
    margin: 5px;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    font-size: 0.9em;
}

.phoenix .item-card-damage {
    text-align: center;
    border: 1px solid rgb(22, 22, 22);
    background: white;
    color: rgb(22, 22, 22);
    margin: 5px;
    font-family: 'Kanyon', sans-serif;
    font-size: 1.5em;
    right: 0;
    top: 28px;
    position: absolute;
    padding: 5px;
    font-kerning: auto;
}

.phoenix .item-card-image {
    border: 0;
    width: 79%;
    height: 79%;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 10%;
    object-fit: scale-down;
}

.phoenix .item-card-field-container {
    height: 30px;
    width: 85%;
    margin: auto;
    background-color: rgb(240,240,240);
    font-size: 1.5rem;
    font-family: 'Kanyon', sans-serif;
    border: 2px solid rgb(22, 22, 22);
    position: absolute;
    bottom: 5px;
    left: 9px;
    font-kerning: auto;
}

.phoenix .item-card-max {
    position: absolute;
    color: grey;
    font-size: 0.8em;
    right: 5px;
    bottom: 3px;
}

.mauxritter .item-card-field {
    position: absolute;
    text-align: left;
    left: 5px;
}

.phoenix .pip-button {
    pointer-events: auto;
}

.phoenix .sheet-tabs{
    border-top: 2px solid rgb(22, 22, 22);
    border-bottom: 2px solid rgb(22, 22, 22);
}

.phoenix .sheet-header-maus{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: normal;
}

.phoenix .item-img{
    flex: 0.15 0 64px;
    /* height: 184px; */
    width: 130px;
    margin-right: 6px;
    /* position: absolute; */
    top: 2px;
    margin-top: 0px;
    border-style: dashed;
    border-width: 2px;
    border-color: grey;
    object-fit: scale-down;
}

.phoenix .sheet-header-maus h1.charname{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: normal;
    font-family: 'Kanyon', sans-serif;
    border-bottom: 0;
    font-kerning: auto;
}

.phoenix .sheet-header-maus .item-text{
    height: 25px;
    background: rgb(230,230,230);
    padding: 7px;
    border-width: 0;
    border-color: grey;
}

.phoenix .sheet-header-maus .item-sheet-header{
    height: 39px;
}



.phoenix .sheet-header-maus .resource-label{
    font-family: 'Kanyon', sans-serif;
    font-weight: normal;
    font-size: larger;
    font-kerning: auto;
}

.phoenix .tabs .item{
    font-family: 'Kanyon', sans-serif;
    font-size: 1.5em;
    line-height: 28px;
    font-kerning: auto;
}

#sidebar {
    width: 350px;
}

#sidebar .sidebar-text {
    color: var(--color-text-light-highlight);
}

#actor-panel {
    width: 620px;
    height: 220px;
    opacity: 0.9;
    position: fixed;
    bottom: 0;
    background-color: #2b2b2b; /* Dark background */
    border: 1px solid #3e3e3e; /* Slight border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px; /* Inner spacing */
    color: #ffffff; /* Text color */
    z-index: 200;

    display: grid;
    grid-template-areas:
            'portrait stats attrs roll'
            'name name attrs roll';

    grid-template-columns: 150px 150px 200px 100px;

}

#actor-panel .portrait {
    width: 150px;
    height: 150px;
    border: none;
    margin-top: 5px;
}

#actor-panel .noborder {
    font-family: Kanyon;
}

#actor-panel .noborder:focus {
    box-shadow: 0 0 0;
    background: #ffffff;
}

#actor-panel .stats {
    display: grid;
    background: white;
    grid-area: stats;
}