<form id="actor-panel">
    <img style="grid-area: portrait" class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <input name="name"
           class="noborder"
           type="text"
           value="{{actor.name}}"
           placeholder="Name"
           style="grid-area: name; color: white; font-size: 2rem; height: 100%; width: 100%; text-align: center; text-overflow: ellipsis"/>
    <div class="effects-panel">
        <i class="fa-duotone fa-caret-left expand-effects-button"></i>
        {{#each actor.effects as |effect id|}}
            <div class="effect" data-effect-id="{{effect.id}}">
                <div class="effect-item">
                    <img src="{{effect.img}}" alt="{{actor.img}}" class="effect-img" width="25px" height="25px">
                    <h4 class="item-name">{{effect.name}}</h4>
                </div>
                <div class="effect-controls">
                    <a class="effect-control effect-edit" title="{{localize "Phoenix.EditEffect"}}"><i
                            class="fas fa-edit"></i></a>
                    <a class="effect-control effect-delete" title="{{localize "Phoenix.DeleteEffect"}}"><i
                            class="fas fa-trash"></i></a>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="max-health-evasion-popover">
        <label class="stat"> Макс. уклонение:
            <input name="system.evasion.max" class="stat-input" type="number" value="{{actor.system.evasion.max}}">
        </label>
        <label class="stat"> Макс. здоровье:
            <input name="system.health.max" class="stat-input" type="number" value="{{actor.system.health.max}}">
        </label>
    </div>

    <div class="skills-popover">
        <ul class="skills-list" style="width: 100%">
            {{#each skills as |list id|}}
                {{#if list}}
                    <div style="font-size: 2rem; text-align: center">{{localize
                            (concat "Phoenix." (tostat id))}}</div>
                    {{#each list as |item id|}}
                        <li class="skill-box">
                            <div class="skill primary-skill roll-mod"
                                 data-item-id="{{item.skill._id}}"
                                 data-key="{{item.skill.name}}"
                                 data-value="{{item.skill.system.value}}">
                                <h4 class="item-name">{{item.skill.system.value}} {{item.skill.name}} </h4>
                                <div class="skill-controls">
                                    <a class="skill-control skill-edit" title="{{localize "Phoenix.EditSkill"}}"><i
                                            class="fas fa-edit"></i></a>
                                    <a class="skill-control skill-delete" title="{{localize "Phoenix.DeleteSkill"}}"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </div>
                            {{#if item.secondaries}}
                                <div class="secondaries-box">
                                    {{#each item.secondaries as |secondary id|}}
                                        <div class="skill secondary-skill roll-mod"
                                             data-item-id="{{secondary._id}}"
                                             data-key="{{secondary.name}}"
                                             data-value="{{secondary.system.value}}"
                                             data-mod-type="secondary">
                                            <h4 class="item-name">{{secondary.system.value}} {{secondary.name}}</h4>
                                            <div class="skill-controls">
                                                <a class="skill-control skill-edit"
                                                   title="{{localize "Phoenix.EditSkill"}}"><i class="fas fa-edit"></i></a>
                                                <a class="skill-control skill-delete"
                                                   title="{{localize "Phoenix.DeleteSkill"}}"><i
                                                        class="fas fa-trash"></i></a>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/if}}
                        </li>
                    {{/each}}
                {{/if}}
            {{/each}}
        </ul>
    </div>

    <div class="stats">
        <div class="stat" data-key="evasion">
            <div class="stat-label">УКЛ</div>
            <input name="system.evasion.value" class="stat-input" type="number" value="{{actor.system.evasion.value}}">
        </div>
        <div class="stat" data-key="armor">
            <div class="stat-label">БРОН</div>
            <input name="system.armor" class="stat-input" type="number" value="{{actor.system.armor}}">
        </div>
        <div class="stat" data-key="health">
            <div class="stat-label">ЗДРВ</div>
            <input name="system.health.value" class="stat-input" type="number"
                   value="{{actor.system.health.value}}">
        </div>
        <div class="stat" data-key="bleed">
            <div class="stat-label">КРВ</div>
            <input name="system.bleed" class="stat-input" type="number" value="{{actor.system.bleed}}">
        </div>


        <div class="stat" data-key="speed">
            <div class="stat-label">СКОР</div>
            <input name="system.speed.value" class="stat-input" type="number" value="{{actor.system.speed.value}}">
        </div>
        <div class="stat roll-mod" data-key="victories">
            <div class="stat-label">ПОБ</div>
            <input name="system.victories" class="stat-input" type="number" value="{{actor.system.victories}}">
        </div>
        <div class="stat" data-key="might">
            <div class="stat-label">МОЩЬ</div>
            <input name="system.might" class="stat-input" type="number" value="{{actor.system.might}}">
        </div>
        <div class="stat roll-mod" data-key="exhaustion">
            <div class="stat-label">УСТ</div>
            <input name="system.exhaustion" class="stat-input" type="number"
                   value="{{actor.system.exhaustion}}">
        </div>
    </div>

    <div class="attrs">
        <div class="attr roll-mod" data-key="stats.strength.value">
            <div class="attr-name">СИЛ</div>
            <input name="system.stats.strength.value" class="stat-input" type="number"
                   value="{{actor.system.stats.strength.value}}">
        </div>
        <div class="attr roll-mod" data-key="stats.dexterity.value">
            <div class="attr-name">ЛОВ</div>
            <input name="system.stats.dexterity.value" class="stat-input" type="number"
                   value="{{actor.system.stats.dexterity.value}}">
        </div>
        <div class="attr roll-mod" data-key="stats.constitution.value">
            <div class="attr-name">ТЕЛ</div>
            <input name="system.stats.constitution.value" class="stat-input" type="number"
                   value="{{actor.system.stats.constitution.value}}">
        </div>
        <div class="attr roll-mod" data-key="stats.intelligence.value">
            <div class="attr-name">ИНТ</div>
            <input name="system.stats.intelligence.value" class="stat-input" type="number"
                   value="{{actor.system.stats.intelligence.value}}">
        </div>
        <div class="attr roll-mod" data-key="stats.wisdom.value">
            <div class="attr-name">ЧУВ</div>
            <input name="system.stats.wisdom.value" class="stat-input" type="number"
                   value="{{actor.system.stats.wisdom.value}}">
        </div>
        <div class="attr roll-mod" data-key="stats.charisma.value">
            <div class="attr-name">ЛИЧ</div>
            <input name="system.stats.charisma.value" class="stat-input" type="number"
                   value="{{actor.system.stats.charisma.value}}">
        </div>
    </div>

    <div class="skill-effect-controls">
        <div class="skill-effect-control panel-button skill-create">{{localize "Phoenix.AddSkill"}}</div>
        <div class="skill-effect-control panel-button effect-create">{{localize "Phoenix.AddEffect"}}</div>
    </div>

    <div class="roll-modifiers-list">
        {{#each rollmods as |mod id|}}
            <div class="roll-mod-item">
                {{mod.value}}
                {{mod.name}}
            </div>
        {{/each}}
    </div>


    <div class="custom-modifier">
        Ситуативный бонус: 
        <div class="custom-modifier-button panel-button" data-key="-1">
            -
        </div>
        <div style="width: 40px; padding-left: 4px">
            {{customMod}}
        </div>
        <div class="custom-modifier-button panel-button" data-key="+1">
            +
        </div>
    </div>

    <div class="roll-tab">
        <div class="roll-modifiers-sum">
            Сумма: {{rollModsSum}}
        </div>

        <div class="dice-tray">
            <div class="dice-wrapper" data-key="d4">
                <img class="dice-icon" src="systems/phoenix/images/icons/d4white.png" alt="d4 dice image"/>
            </div>
            <div class="dice-wrapper" data-key="d6">
                <img class="dice-icon" style="width: 20px; height: 20px" src="systems/phoenix/images/icons/d6white.png"
                     alt="d6 dice image"/>
            </div>
            <div class="dice-wrapper" data-key="d8">
                <img class="dice-icon" src="systems/phoenix/images/icons/d8white.png" alt="d8 dice image"/>
            </div>
            <div class="dice-wrapper" data-key="d20" style="grid-area: d20">
                <img class="dice-icon" src="systems/phoenix/images/icons/d20white.png" alt="d20 dice image"/>
            </div>
            <div class="dice-wrapper" data-key="d10">
                <img class="dice-icon" src="systems/phoenix/images/icons/d10white.png" alt="d10 dice image"/>
            </div>
            <div class="dice-wrapper" data-key="d12">
                <img class="dice-icon" src="systems/phoenix/images/icons/d12white.png" alt="d12 dice image"/>
            </div>
            <div class="dice-wrapper" data-key="d100">
                <img class="dice-icon" src="systems/phoenix/images/icons/d100white.png" alt="d100 dice image"/>
            </div>
        </div>

        <div class="roll-info">
            <div class="adv-disadv">
                <div class="vantage" data-key="h">
                    ПРЕИМ.
                </div>
                <div class="vantage" data-key="l">
                    ПОМЕХА
                </div>
            </div>
            <div class="roll-button panel-button">
                Бросок
            </div>
        </div>

        <div class="roll-presets">
            <div class="roll-preset panel-button">
                Чистый
            </div>
            <div class="roll-preset panel-button">
                Проверка
            </div>
            <div class="roll-preset panel-button">
                Опытник
            </div>
            <div class="roll-preset panel-button">
                Усилие
            </div>
            <div class="roll-preset panel-button">
                Оружие
            </div>
            <div class="roll-preset panel-button">
                Магия
            </div>
        </div>
    </div>
</form>