<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header-maus">
        <img class="item-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" class="item-text item-sheet-header"/></h1>

            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">{{localize "Phoenix.Value"}}</label>
                    <input type="text" name="system.value" value="{{system.value}}" data-dtype="String" class="item-text"/>
                </div>
                <div class="resource">
                    <label class="resource-label">{{localize "Phoenix.ParentSkill"}}</label>
                    <input type="text" name="system.parentSkill" value="{{system.parentSkill}}" data-dtype="String" class="item-text"/>
                </div>
                {{log system}}
                <div class="resource">
                    <label class="resource-label">{{localize "Phoenix.IsPrimary"}}</label>
                    <input type="checkbox" name="system.isPrimary" {{checked  system.isPrimary}}>
                </div>
            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "Phoenix.ItemDescription"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
        </div>
    </section>
</form>